
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



.container{
height: 100%;
width:100%;
overflow-x: none;
background-color: #e2e5e8;
background-image: linear-gradient(98deg, #e2e5e8 0%, #ffffff 100%);


}
.navcontainer{
    width: 100vw;
    /* background-color: rgba(115, 165, 192, 0.407); */
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav{
    width: 100%;
    overflow-x: none;
    padding-right: 10rem;
    padding-left: 10rem;
}

#navlist{
    width: 100%;
    padding: 15px;
    /* margin-left: 15px;
    margin-right: 15px; */
    list-style-type: none;
    font-size: 2.8rem;
    display: flex;
    justify-content: space-between;
    
}

#navlogo{
    font-size: 2.8rem;
   color: azure;
}
a{
    text-decoration: none;
    color: azure;
}

#nvavitems{
    display: flex;
    gap: 40px;
    

}
.footerbox{
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    color: azure;
    width: 100%;
    text-align: center;
    min-height: 40px;
}
.footerbox p {
    color: azure;
    font-size: 2rem;
}

.contentbox{
    width: 80%;
    max-width: 1200px;
    min-height: 90vh;
    margin: auto;
    padding: 60px;
    /* border: 1px solid black; */
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    box-shadow: 0px 0px 30px black;
    
}

.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rightbox{
    width: 50%;
    height: 270px;
    position: relative;
    overflow: hidden;
    transition: all  0.3s linear 0s ;
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;
}
.rightbox:hover{
    transform: scale(1.1);
    transition: all 0.4s linear 0s;
}
.rightbox img{
    width: 100%;
    height: 270px;
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
    display: block;
    
}


.leftbox {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftbox h2{
    font-size: 2rem;
}

.ingbox{
    font-size: 1.5rem;
}
.recipebox{
    font-size: 1.5rem;
}
.ing2box{
    font-size: 1.5rem;
}
.recipe2box{
    font-size: 1.5rem;
}
ol{
    list-style-position: inside;
    margin-left: 0;
    padding-left: 0;
}

ul{
    list-style-position: inside;
}



.rightbox .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(182, 166, 166, 0.751);
    border-radius:20px ;

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s linear 0s;
}

.rightbox:hover .overlay{
    opacity: 1;

}
.rightbox .overlay span{
    color: white;
    font-size: 1.2rem;
}

